.visual-block {
	position: relative;
	width: 100%;
	height: 100%;
	&__content {
		position: absolute;
		top: 0;
		z-index: -10;
		&-1 {
			top: 200px;
			left: -375px;
			width: 812px;
			height: 812px;
			border-radius: 50%;
			box-sizing: border-box;
			border: 4px solid #00E94F;
		}
		&-2 {
			top: 550px;
			right: 0;
		}
	}
	&__shadow {
		position: absolute;
		&-1 {
			top: -400px;
			left: -200px;
			width: 1606px;
			height: 1606px;
			background: rgba(0, 233, 79, 0.3);
			filter: blur(200px);
		}
	}
	&__plug {
		position: absolute;
		left: -100px;
		z-index: -10;
		width: 2176px;
		height: 1142px;
		top: 1075px;
		background: #181818;
		transform: rotate(-7deg);
	}
	&__bg {
		position: absolute;
		z-index: -10;
		width: 1920px;
		height: 3091px;
		left: 0px;
		top: 1500px;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.640151) 18.54%, rgba(0, 0, 0, 0.79) 51.35%, rgba(0, 0, 0, 0.652778) 77.92%, rgba(0, 0, 0, 0) 100%);
	}
	&__block-line {
		position: absolute;
		z-index: -11;
		width: 2800px;
		height: 2168px;
		left: 0px;
		top: 2000px;
		//2600
	}
}
.box-title {
	//250
	margin-top: 300px;
	&__title {
		font-family: 'Unbounded';
		font-weight: 700;
		font-size: 42px;
		line-height: 50px;
		//font-size: 90px;
		//line-height: 112px;
		padding: 0px 30px;
		text-align: center;
	}
}
.about {
	margin-top: 800px;
	&__title {
		font-family: 'Unbounded';
		font-weight: 700;
		font-size: 50px;
		line-height: 62px;
		color: #00E94F;
	}
	&__row {
		display: flex;
		column-gap: 75px;
		margin-top: 20px;
	}
	&__text {
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		p {
			text-indent: 30px;
		}
	}
	&__bg {
		position: relative;
		& img {
			border-radius: 13px;
		}
	}
	&__shadow {
		position: absolute;
		top: 0;
		width: 527px;
		height: 288px;
		z-index: -1;
		background: rgba(0, 233, 79, 0.3);
		filter: blur(150px);
	}
}
.technology {
	margin-top: 200px;
	&__main-title {
		font-family: 'Unbounded';
		font-weight: 700;
		font-size: 90px;
		line-height: 112px;
		margin-bottom: 90px;
		text-align: center;
	}
	&__row {
		display: flex;
		justify-content: space-between;
	}
	&__column {
		display: flex;
		flex-direction: column;
	}
	&__title {
		font-family: 'Unbounded';
		font-weight: 700;
		font-size: 116px;
		line-height: 144px;
		background: linear-gradient(135deg, rgba(255, 255, 255, 1) 20%, rgba(0, 233, 79, 0.3) 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		-text-fill-color: transparent;
	}
	&__text {
		font-weight: 700;
		font-size: 30px;
		line-height: 37px;
		margin: 15px 0px 60px;
	}
	&__button {
		align-self: start;
		padding: 28px 73px;
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
	}
	&__content {
		display: flex;
		flex-direction: column;
		gap: 35px;
	}
	&__items {
		display: flex;
		gap: 35px;
	}
	&__card {
		position: relative;
		z-index: -10;
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background: #000000;
		border-radius: 26px;
		overflow: hidden;
	}
	&__text-box {
		display: flex;
		flex-direction: column;
		gap: 25px;
		margin-top: 35px;
		margin-left: 35px;
		margin-right: 50px;
	}
	&__sub-title {
		font-family: 'Unbounded';
		font-weight: 700;
		font-size: 36px;
		//font-size: 80px;
		//line-height: 99px;
		line-height: 44px;
		background: linear-gradient(135deg, rgba(255, 255, 255, 1) -10%, rgba(0, 233, 79, 0.5) 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		-text-fill-color: transparent;
	}
	&__sub-text {
		font-weight: 700;
		//font-size: 25px;
		//line-height: 30px;
		font-size: 20px;
		line-height: 24px;
	}
	&__image {
		position: relative;
		align-self: end;
		//position: relative;
		//&-2 {
		//	bottom: 50px;
		//}
		&-3 {
		//	bottom: 60px;
			& img {
				border-radius: 26px;
			}
		}
		//&-4 {
		//	bottom: 60px;
		//}
		//&-5 {
		//	bottom: 314px;
		//}
	}
	&__shadow {
		position: absolute;
		top: 0;
		z-index: -1;
		left: -50px;
		width: 855px;
		height: 412px;
		background: radial-gradient(48.69% 48.69% at 50% 51.31%, #00E94F 0%, rgba(0, 233, 79, 0) 100%);
		filter: blur(150px);
		border-radius: 32px;
	}
}
.projeckt {
	margin-top: 250px;
	&__main-title {
		font-family: 'Unbounded';
		font-weight: 700;
		font-size: 90px;
		line-height: 112px;
		text-align: center;
		margin-bottom: 250px;
	}
	&__title {
		font-family: 'Montserrat';
		font-weight: 600;
		font-size: 50px;
		line-height: 61px;
		text-align: center;
		color: #5E5E5E;
	}
	&__content {
		margin-top: 30px;
		background: #fff;
	}
	&__block-line {
		position: relative;
		display: flex;
		&-1 {
			height: 120px;
		}
		&-2 {
			height: 212px;
		}
		&-3 {
			height: 150px;
		}
		&-4 {
			height: 198px;
		}
		&-5 {
			height: 150px;
		}
		&-6 {
			height: 115px;
		}
	}
	&__line-green {
		position: absolute;
		background: #00E94F;
		&-1 {
			width: 25%;
			height: 100%;
		}
		&-2 {
			width: 71%;
			height: 20%;
			bottom: 0;
		}
		&-3 {
			width: 35%;
			height: 29%;
			right: 0;
			bottom: 0;
		}
		&-41 {
			width: 55.3%;
			height: 22%;
			right: 0;
			z-index: 1;
		}
		&-42 {
			width: 100%;
			height: 22%;
			bottom: 0;
		}
		&-5 {
			width: 69%;
			height: 29%;
			right: 0;
			bottom: 0;
		}
		&-6 {
			width: 31%;
			height: 100%;
			right: 0;
		}
	}
	&__line-black {
		position: absolute;
		background: #000;
		height: 100%;
		&-1 {
			width: 75%;
			right: 0;
		}
		&-2 {
			width: 68%;
			right: 0;
		}
		&-3 {
			width: 65%;
		}
		&-4 {
			width: 92%;
			height: 78%;
			right: 0;
		}
		&-5 {
			width: 55.3%;
		}
		&-6 {
			width: 69%;
		}
	}
	&__line-white {
		position: absolute;
		background: #fff;
		&-1 {
			width: 47.3%;
			height: 22%;
			left: 8%;
			bottom: 0;
			z-index: 1;
		}
	}
	&__items {
		min-height: 497px;
		display: flex;
		&-right {
			justify-content: flex-end;
		}
	}
	&__image {
		position: absolute;
		&-left {
			left: 0;
		}
		&-right {
			right: 0;
		}
	}
	&__bg {
		& img {
			width: 100%;
			height: 100%;
		}
	}
	&__text-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 20px;
		max-width: 748px;
	}
	&__sub-title {
		font-family: 'Unbounded';
		font-weight: 700;
		font-size: 33px;
		line-height: 41px;
		color: #00E94F;
		&-small {
		max-width: 745px;
		}
	}
	&__text {
		font-weight: 400;
		font-size: 25px;
		line-height: 30px;
		color: #000000;
	}
	&__button-wrapper {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 340px;
		background: #000000;
	}
	&__button-line {
		position: absolute;
		width: 100%;
		border: 4px solid #00E94F;
		transition: 0.3s;
	}
}
.number {
	position: relative;
	margin-top: 225px;
	&__line {
		position: absolute;
		top: 100px;
		z-index: -1;
	}
	&__content {
		display: flex;
		justify-content: space-between;
	}
	&__items {
		display: flex;
		flex-direction: column;
		row-gap: 70px;
	}
	&__num-block {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__num {
		font-family: 'Unbounded';
		font-weight: 700;
		font-size: 148px;
		line-height: 184px;
		text-align: center;
		color: #00E94F;
	}
	&__time {
		font-family: 'Unbounded';
		font-weight: 700;
		font-size: 20px;
		line-height: 25px;
		text-align: center;
		color: #00E94F;
	}
	&__shadow {
		position: absolute;
		top: -50px;
		width: 300px;
		height: 300px;
		z-index: -1;
		background: radial-gradient(48.69% 48.69% at 50% 51.31%, #00E94F 0%, rgba(0, 233, 79, 0) 100%);
		filter: blur(150px);
		border-radius: 32px;
	}
	&__text {
		max-width: 420px;
		font-weight: 700;
		font-size: 25px;
		line-height: 30px;
		text-align: justify;
		color: #D2D2D2;
	}
}
.services {
	margin-top: 250px;
	&__title {
		font-family: 'Unbounded';
		font-weight: 700;
		font-size: 90px;
		line-height: 112px;
		text-align: center;
	}
	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-top: 60px;
	}
	&__content {
		display: flex;
		justify-content: space-between;
		gap: 20px;
	}
	&__items {
		position: relative;
		z-index: -10;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background: #FFFFFF;
		padding: 20px;
		border-radius: 18px;
		width: 33.333%;
		min-height: 388px;
		overflow: hidden;
	}
	&__sub-title {
		font-family: 'Unbounded';
		font-weight: 700;
		font-size: 28px;
		line-height: 35px;
		background: linear-gradient(108.12deg, #000000 11.62%, #00E94F 89.86%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
	}
	&__text {
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		color: #000000;
	}
	&__shadow {
		position: absolute;
		width: 566px;
		height: 204px;
		left: 40px;
		bottom: 0;
		z-index: -1;
		background: radial-gradient(48.69% 48.69% at 50% 51.31%, #00E94F 0%, rgba(0, 233, 79, 0) 100%);
		filter: blur(99.3384px);
		border-radius: 21.1922px;
	}
	&__button-wrapper {
		position: relative;
		display: flex;
		justify-content: center;
		height: 250px;
	}
	&__button-line {
		position: absolute;
		z-index: -1;
	}
	&__button {
		align-self: start;
		margin-top: 150px;
		&:hover {
			background: #181818;
		}
	}
}
.product {
	margin-top: 275px;
	&__title {
		font-family: 'Unbounded';
		font-weight: 700;
		font-size: 90px;
		line-height: 112px;
		text-align: center;
		color: #FFFFFF;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		margin-top: 60px;
	}
	&__nav {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	&__item {
		display: flex;
		align-items: center;
		max-width: 588px;
		min-height: 94px;
		background: #000000;
		border-radius: 26px;
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		padding: 0px 18px;
		text-transform: uppercase;
		color: #FFFFFF;
		transition: 0.5s;
		&._active {
			background: #00E94F;
			color: #000000;
			transition: 0.5s;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
	}
	&__card {
		position: relative;
		z-index: -10;
		//display: flex;
		//flex-direction: column;
		width: 708px;
		background: #000000;
		border-radius: 26px;
		padding-bottom: 320px;
		overflow: hidden;
	}
	&__text-box {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 30px 35px;
	}
	&__sub-title {
		font-family: 'Unbounded';
		font-weight: 700;
		font-size: 32px;
		line-height: 40px;
		background: linear-gradient(130deg,#fff 0%,rgba(0,233,79,.5) 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
	}
	&__text {
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		color: #FFFFFF;
		max-width: 590px;
	}
	&__image {
		position: absolute;
		right: 0;
	}
	&__shadow {
		position: absolute;
		left: -100px;
		top: 0;
		z-index: -1;
		width: 886px;
		height: 317px;
		background: radial-gradient(48.69% 48.69% at 50% 51.31%, #00E94F 0%, rgba(0, 233, 79, 0) 100%);
		filter: blur(150px);
		border-radius: 32px;
	}
	&__button {
		display: inline-flex;
		justify-content: space-between;
		align-items: center;
		align-self: end;
		gap: 25px;
		padding: 15px;
		margin-top: 10px;
		border-radius: 26px;
		background: #000000;
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		transition: 0.5s;
		z-index: 10;
		&:hover {
			background: #000;
			color: #00E94F;
			& path {
				fill: #00E94F;
			}
		}
		& path {
			transition: 0.5s;
		}
	}
}